/* for reciever message box with animation */
.reciever{
  text-align: justify;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  background-color: green;
  display:inline-block;
  max-width: 250px;
  animation: anmBox 2s ease-in;
}

/* for reciever message box without animation */
.staticReciever{
  text-align: justify;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  background-color:green;
  display:inline-block;
  max-width: 250px;
}

/* for sender message box with animation */
.sender{
  text-align: justify;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(to right,#B0BBBF,#CADBC8);
  display:inline-block;
  max-width: 250px;
  animation: anmBox 2s ease-in;
}

/* for sender message box without animation */
.staticSender{
  text-align: justify;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(to right,#B0BBBF,#CADBC8);
  display:inline-block;
  max-width: 250px;
}

/* for image with animation */
.showImage{
  max-width: 230px;
  height: auto;
  margin-top:2px;
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
  animation: anmImage 2s ease-in;
}


/* for image without animation */
.staticShowImage{
  max-width: 230px;
  height: auto;
  margin-top:2px;
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
}

@keyframes anmBox{
  0%{
    opacity: 0;
    width: 5%;
  }
  25%{
    opacity: 0.25;
    width:10%;
  }
  50%{
    opacity: 0.50;
    transform: scale(0.8);
    width: 15%;
  }
  75%{
    opacity: 0.75;
    transform: scale(0.9);
    width: 20%;
  }
  100%{
    width: auto;
    opacity: 1;
  }
}

@keyframes anmImage{
  0%{
    opacity: 0;
    width: 30%;
  }
  25%{
    opacity: 0.25;
    width:50%
  }
  50%{
    opacity: 0.50;
    transform: scale(0.8);
    width: 60%;
  }
  75%{
    opacity: 0.75;
    transform: scale(0.9);
    width: 70%;
  }
  100%{
    width: auto;
    opacity: 1;
  }
}

.header{
  z-index: 1;
}

.footer{
  bottom: 0;
  position: sticky;
  z-index: 1;
}

.navbarBrand{
  color: #002855;
  font-size: 30px;
}
.fa-envelope{
  color:#002855;
}

/*to show day flag in animation  */
.showDay{
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin:5px;
}

@keyframes flip{
  0%{
    opacity: 0;
    display: block;
    transform: rotate(-90deg)
  }
  50%{
    opacity: 0.50;
    transform: scale(1.1);
  }
  100%{
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}
.showMessage{
  /* animation-name: messages;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in;
  overflow: hidden;
  animation-direction: reverse; */
}

/* @keyframes messages{
  0%{
    opacity: 0;
    transform: scale(1);
    }
  50%{
      opacity: 0.50;
      transform: scale(0.9);
      transform: rotate(90deg);}
  100%{
    opacity: 1;
    transform: scale(1);
  }
} */


.App {
  font-family: sans-serif;
  text-align: center;
}


/* @keyframes fade{
  0%{
    background-color: white;
  }
  25%{
    background-color: whitesmoke;
  }
  50%{
    background-color: lightgrey;
  }
  75%{
    background-color: whitesmoke;
  }
  100%{
    background-color: white;
  }
} */
